<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SMServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SMServer12.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>SMServer_Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C128FDC259FEE4F0072CFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C760E82245BCFE000EF24FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C760E98245BCFE100EF24FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C760EA3245BCFE100EF24FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CFFB08F2655D56A002F1AC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
