*.DS_Store
*.app
*.app/
*.ipa
*.deb
*.xcarchive
tests.md
implement.md
.xcode-version
*.xcbkptlist
.jshintrc

src/SMServer/shared/IdentityPass.swift
src/SMServer/identity.pfx
src/Pods/
src/Pods/**

package/deb/Library/MobileSubstrate/DynamicLibraries/libsmserver.dylib
package/deb/Library/MobileSubstrate/DynamicLibraries/libsmserver.plist
