Package: com.ianwelker.smserver
Depends: com.janshai.libsmserver | com.twickd.ian-welker.libsmserver
Name: SMServer
Version: 0.6.1
Architecture: iphoneos-arm
Description: Send texts from your browser!
Maintainer: Ian Welker <contact@ianwelker.com>
Author: Ian Welker
Section: Multimedia
