Package: com.ianwelker.smserver
Depends: openssl, com.muirey03.libmryipc
Conflicts: com.janshai.libsmserver, com.twickd.ian-welker.libsmserver
Name: SMServer
Version: 0.8.0
Architecture: iphoneos-arm
Description: Send texts from your browser!
Maintainer: Ian Welker <contact@ianwelker.com>
Author: Ian Welker
Section: Multimedia
Installed-Size: 5940
