:root {
  --chats-border: #e5e5e5;
  --font-color: #070707;
}
body, html {
  background-color: #fff;
}
.messages {
  background-color: #fff;
  border-color: var(--chats-border);
}
.chats button {
  background-color: #ddd;
}
.chats button:hover {
  background-color: #fff;
}
.messages .title {
  background-color: #ddd;
}
.is_from_them {
  background-color: #ddd;
}
.is_from_me {
  background-color: #58f;
  background-image: none;
  color: #fff;
}
#sendbox {
  background-color: #ddd;
}
#unhiddenbutton {
  background-color: #ddd
}
#sendbutton {
  font-size: 16px;
  color: #fff;
  padding-left: 6px;
  padding-top: 2px;
}
#composeShowButton {
	background-color: #ddd;
}
.centered {
	text-shadow: -2px 2px #e5e5e5;
}
.chat-text {
	color: black;
}
.selected {
	box-shadow: none;
	background-color: #e5e5ea !important;
}
.selected * {
	color: rgba(0, 0, 100, 0.6);
}
#morechatsbutton {
  border: none;
}