:root {
    --text-box-gradient: linear-gradient(to bottom right, #a6a6a6, #989898);
    --body-background: #fff;
    --font-color: #111;
    --main-background: #d9d9d9;
    --chats-border: #ccc;
    --light-button-background: #ccc;
    --selected-background: #c8c8c8;
}
.chat-text {
    color: #181818;
}
.chats-list button:hover {
    background-color: #c8c8c8;
}
.centered {
    text-shadow: -4px 4px #d6d6d6;
}
#camerarollbutton, #unhiddenbutton {
    background-color: var(--selected-background);
}
.is_from_me.iMessage {
    background-image: linear-gradient(to right, rgb(119 155 255), rgb(90 133 245));
}
.is_from_me {
    color: #e6e6e6;
}
.is_from_them {
    background-color: #cacaca;
    color: #222;
}
.selected div {
    color: rgb(18, 115, 214);
}
#composeHideButton, #camerarollHideButton {
    background-color: #848484;
}
#composeShowingAttachmentButton {
    background-color: #999;
    box-shadow: none;
}
#composeSendBox {
    background-color: #777777ad;
}
#moretextsbutton {
    box-shadow: 0px 0px 10px #999;
    border: none;
}
#moretextsbutton p {
    color: #eee;
}
#sendbutton {
    color: #eee;
}
.from_me .reaction {
    background-color: #cacacac0;
}
.from_them .reaction {
    background-color: rgba(119, 155, 255, 0.5);
}
.reaction {
    box-shadow: 0px 0px 6px #aaa;
}
