:root {
	--text-box-gradient: linear-gradient(to bottom right, #a6a6a6, #989898);
	--body-background: #fff;
	--font-color: #353535;
	--main-background: #f0f0f0;
	--chats-border: #ccc;
	--light-button-background: #ccc;
	--selected-background: #fff;

	--my-imessage-background: rgb(90 133 245);
	--their-text-background: #cacaca;
}
.chatText {
	color: #181818;
}
.chatsList button:hover {
	background-color: #d8d8d8;
}
.centered {
	text-shadow: -4px 4px #d6d6d6;
}
#cameraRollButton, #unhiddenButton {
	background-color: var(--light-button-background);
}
.fromMe .text div {
	color: #e6e6e6;
}
.fromThem {
	color: #222;
}
.selected div {
	color: rgb(18, 115, 214);
}
#composeHideButton, #cameraRollHideButton {
	background-color: #848484;
}
#composeShowingAttachmentButton {
	background-color: #999;
	box-shadow: none;
}
#composeSendBox {
	background-color: #777777ad;
}
#moreTextsButton {
	box-shadow: 0px 0px 10px #999;
	border: none;
}
#moreTextsButton, #moreTextsButton * {
	color: #eee;
}
#sendButton {
	color: #eee;
}
#sendBox, #subjectBox {
	background-color: var(--light-button-background);
}
.fromMe .tapback {
	background-color: #cacaca;
}
.fromThem .tapback {
	background-color: rgb(119, 155, 255);
}
.tapback * {
	color: white;
}
.fromThem .richLinkSubtitle {
	color: #fff;
}
.fromThem .richLinkSubtitle {
	color: #ddd;
}
.fromThem .secondNav i {
	color: #fff;
}
.fromMe .secondNav i {
	color: #ccc;
}
