:root {
	--chats-border: #e5e5e5;
	--font-color: #070707;
	--text-box-gradient: linear-gradient(to bottom right, #ccc, #bbb);
    --selected-background: #cccd;
}
body, html, .messages, .chats button:hover {
	background-color: #fff;
}
.messages {
	border-color: var(--chats-border);
}
.chats button, .messages .title, .is_from_them, #sendbox 
#unhiddenbutton, #camerarollbutton, #composeShowButton, #notificationbutton {
    background-color: #ddd !important;
}
.is_from_me {
	background-color: #58f;
	background-image: none;
	color: #fff;
}
#sendbutton {
	font-size: 16px;
	color: #fff;
	padding-left: 6px;
	padding-top: 2px;
}
.centered {
	text-shadow: -2px 2px #e5e5e5;
}
.chat-text {
	color: black;
}
.selected {
	box-shadow: none;
	background-color: #e5e5ea !important;
}
.selected * {
	color: rgba(0, 0, 100, 0.6);
}
#morechatsbutton {
	border: none;
}
#composeShowingAttachmentButton {
	box-shadow: 0px 0px 6px #858585;	
}
#composeHideButton, #camerarollHideButton, #composeSendBox {
	background-color: #ddd4;
}
#composeSendBox {
	color: white;
}
