:root {
	--messages-title-height: 64px;
	--messages-send-height: 36px;
	--camera-roll-width: 70vw;
	--font-color: #dae3f0;
	--main-font: Calibri, sans-serif, Verdana, Courier;
	--chats-border: #222;
	--chats-width: 30vw;
	--chats-button-height: 70px;
	--send-button-size: calc(var(--send-box-size) - 4px);
	--send-box-size:  calc(var(--messages-send-height) - 8px);
	--attachments-button-size: 46px;
	--top-button-gradient: linear-gradient(to bottom right, #bbb, #999);
	--top-hover-gradient: linear-gradient(to bottom right, #aaa, #888);
	--text-box-gradient: linear-gradient(to bottom right, #111, #222);
	--light-button-gradient: linear-gradient(to bottom right, #c8c8c8, #d9d9d9);
}
* {
	font-family: var(--main-font);
	color: var(--font-color);
}
body, html {
	background-color: #000;
	height: calc(100vh - 20px);
}
html {
	padding: 0px;
}
.everything {
	display: grid;
	grid-template-columns: var(--chats-width) 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'conversations messages';
	grid-column-gap: 5px;
	height: calc(100vh - 20px);
	padding: 0px;
}
p, h2, a, button {
	font-family: var(--main-font);
	text-decoration: none;
	font-weight: 300;
	color: var(--main-text-color);
}
p {
	color: var(--font-color);
	font-size: 20px;
}
::-webkit-scrollbar {
	display: none;
}
.messages {
	border: 2px solid #161616;
	grid-area: messages;
	display: grid;
	grid-template-rows: var(--messages-title-height) auto min-content;
	grid-template-columns: 1fr;
	width: 100%;
	max-height: 100%;
	background-color: #111;
	overflow-x: hidden;
	border-radius: 5px;
}
.messages .title {
	grid-row: 1;
	grid-column: 1;
	z-index: 1;
	background-color: #1a191b;
}
.title-content {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: 1fr;
	width: max-content;
	margin: auto;
	grid-gap: 10px;
	transform: translateY(calc(var(--messages-title-height) / 8));
}
.textbox {
	display: grid;
	grid-template-columns: calc(var(--attachments-button-size) + 10px) calc(var(--attachments-button-size) + 10px) 1fr var(--send-button-size);
	grid-template-rows: 1fr;
	padding: 5px 5px;
	max-width: 100%;
	height: calc(var(--messages-send-height) - 20px);
	resize: vertical;
}

@supports (backdrop-filter: blur(50px)) or (-webkit-backdrop-filter: blur(50px)) {
	.messages .title, .textbox,
    .compose, #cameraroll {
		backdrop-filter: blur(50px);
		-webkit-backdrop-filter: blur(50px);
		background-color: transparent !important;
	}
}
.title p {
	color: var(--font-color);
	font-size: 30px;
	grid-column: 2;
	grid-row: 1;
	margin: auto;
}
.title img {
	max-height: calc(var(--messages-title-height) * 0.72);
	grid-column: 1;
	grid-row: 1;
	align-self: center;
	border-radius: 100%;
}
.messages .text-content {
	grid-row: 1/3;
	grid-column: 1;
	z-index: 0;
	overflow-x: hidden;
	padding-top: var(--messages-title-height);
}
.centered {
	margin: auto;
	margin-top: 30vh;
	text-align: center;
	color: #bbb;
	font-size: 30px;
	max-width: 30vw;
	text-shadow: -4px 4px black;
}
.chats {
	grid-area: conversations;
	border: 1px solid var(--chats-border);
	border-radius: 5px;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 36px 1fr;
}
.chats-title {
	color: var(--font-color);
	grid-column: 1;
	grid-row: 1;
	padding: 16px 0px 0px 10px;
	vertical-align: bottom;
	display: grid;
	grid-template-columns: 1fr 28%;
}
#battery.low {
	color: red;
}
#battery.risky {
	color: gold;
}
#battery.fullEnough {
	color: limegreen;
}
#wifi {
	color: dodgerblue;
}
.chats-title h1 {
	grid-column: 1;
	grid-row: 1;
	margin-top: 6px;
	font-weight: 300;
}
.chats-search {
	color: var(--font-color);
	grid-column: 1;
	grid-row: 2;
	padding: 10px;
	border-top: 1px solid var(--chats-border);
	display: grid;
	grid-template-columns: 1fr 90px 60px;
	grid-template-rows: 1fr;
	grid-gap: 10px
}
.chats-list {
	color: var(--font-color);
	grid-row: 3;
	grid-column: 1;
	overflow: auto;
	overflow-x: hidden;
}
.chats button {
	border: none;
	border-top: 1px solid var(--chats-border);
	border-bottom: 1px solid var(--chats-border);
	background-color: #111;
	display: grid;
	grid-template-columns: calc((var(--chats-button-height) * 0.76) + 10px) 1fr 140px; /* looks groovy, ya know? */
	grid-template-rows: 2fr 3fr;
	width: var(--chats-width);
	transition: all linear 0.1s;
	color: #dae3f0;
	align-items: center;
	height: var(--chats-button-height);
}
.chats button img {
	grid-row: 1/3;
	grid-column: 1;
	max-height: calc(var(--chats-button-height) * 0.76);
	max-width: calc(var(--chats-button-height) * 0.76);
    border-radius: 100%;
}
.chat-name {
	font-size: 16px;
	grid-column: 2;
	grid-row: 1;
	margin-top: 10px;
	line-height: 18px;
	max-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
	font-weight: 500;
}
.chat-text {
	grid-column: 2/4;
	grid-row: 2;
	color: #ddd;
	font-size: 12px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
	max-height: calc(var(--chats-button-height) - 45px);
	white-space: nowrap;
	padding-right: 10px
}
#morechatsbutton {
	display: flex;
	padding: auto;
	text-align: center;
}
#morechatsbutton p {
	color: dodgerblue;
	margin: auto;
}
.unread img {
	box-shadow: 0 0 10px dodgerblue;
}
.text-content p img {
	max-width: 100%;
	border-radius: 10px;
	padding-bottom: 5px;
}
.chats p {
	padding-left: 10px;
	transition: all linear 0.1s;
}
.chats button:hover {
	background-color: #222;
	transition: all linear 0.1s;
}
.chats button:hover p {
	color: rgb(78, 150, 223) !important;
	transition: all linear 0.1s;
}
.selected {
	background-color: #252525 !important;
}
.selected div {
    color: rgb(115, 170, 226);
}
.text {
	font-family: var(--main-font);
	width: max-content;
	max-width: 40vw;
	padding: 7px 10px 4px 8px;
	margin: 0px 10px 20px 10px;
	font-weight: 300;
	font-size: 18px;
}
.text + .text {
	margin-top: -12px;
}
.text a {
	color: dodgerblue;
}
.sender {
	margin-left: 14px;
	margin-bottom: -14px;
}
.sender p {
	font-size: 14px;
	font-weight: lighter;
}
.is_from_me {
	float: right;
	position: relative;
	margin-left: 100%;
	border-radius: 10px 10px 2px 10px;
}
.is_from_them {
	float: left;
	background-color: rgb(58, 58, 60);
	position: relative;
	margin-right: 100%;
	border-radius: 10px 10px 10px 2px;
}
.is_from_me + .is_from_them,
.is_from_them + .is_from_me {
	margin-top: -6px;
}
.is_from_me.iMessage {
	background-image: linear-gradient(to right, rgb(49, 100, 240), rgb(19, 75, 218));
}
.is_from_me.SMS {
	background-image: linear-gradient(to right, rgb(71, 194, 90), rgb(41, 194, 63));
}
.time-display {
	text-align: center;
}
#moretextsbutton {
	border: 1px solid black;
	border-radius: 20px;
	background-color: cornflowerblue;
	margin: 10px 0 20px 42%;
}
#moretextsbutton p {
	color: white;
	margin: 10px 0
}
#sendbutton {
	grid-column: 4;
	grid-row: 1;
	width: var(--send-button-size);
	height: var(--send-button-size);
	background-color: rgb(0, 122, 255);
	outline: none;
	border: none;
	border-radius: calc(var(--send-button-size) / 2);
	margin-top: calc(((var(--messages-send-height) - var(--send-button-size)) / 2) + 1px);
	padding: 5px;
	margin-left: -4px;
	z-index: 1;
}
#sendbox {
	grid-column: 3/5;
	grid-row: 1;
	outline: none;
	border-radius: calc(var(--send-box-size) / 2);
	background-color: #282828;
	height: var(--send-box-size);
	resize: none;
	margin-top: calc((var(--messages-send-height) - var(--send-box-size)) / 2);
	padding: 5px calc(var(--send-button-size) + 10px) 0px 10px;
	border: none;
	font-size: calc(var(--send-box-size) - 8px);
}
#attachmentbutton {
	display: none;
}
#unhiddenbutton {
	border-radius: 5px;
	background-color: grey;
	width: var(--attachments-button-size);
	height: var(--send-box-size);
	grid-column: 2;
	grid-row: 1;
	margin-top: calc((var(--messages-send-height) - var(--send-box-size)) / 2);
	outline: none;
	border: none;
}
.popup, #camerarollpopup {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	overflow: auto;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.compose {
	background-color: #111;
	border-radius: 10px;
	height: 46vh;
	max-width: 60vw;
	display: grid;
	grid-template-rows: 40px 40px 1fr;
	grid-template-columns: 1fr;
	margin: auto;
	margin-top: 20vh;
}
.composeTitleBoxDiv {
	/*background-color: #555;*/
	background-color: rgba(100, 100, 100, 0.2);
	color: #ddd;
	border-radius: 8px 8px 0px 0px;
	padding: 5px;
	display: grid;
	grid-template-columns: 14% 1fr 14%;
	grid-row: 1;
}
#composeHideButton, #camerarollHideButton {
	grid-column: 1;
	background-color: rgba(50, 50, 50, 1);
}
#composeTitleBoxTitle, #camerarollTitleBoxTitle {
	grid-column: 2;
	text-align: center;
}
#composeSendButton, #camerarollSelectButton {
	grid-column: 3;
	background-color: rgba(80, 110, 220, 1)
}
#composeHideButton, #composeSendButton, 
#camerarollHideButton, #camerarollSelectButton {
	border: none;
	outline: none;
	border-radius: 5px;
	transition: all linear 0.1s;
	font-size: 15px;
	margin: 0px 20px;
}
#composeHideButton:hover, #composeSendButton:hover,
#camerarollHideButton:hover #camerarollSelectButton:hover {
	box-shadow: none;
	transition: all linear 0.1s;
}
#composeAttachmentButton {
	display: none;
}
.composeAddressBoxDiv {
	display: grid;
	grid-template-columns: 30px 1fr 10%;
	grid-gap: 10px;
	padding: 12px 8px 4px 8px;
	grid-row: 2;
}
.composeAddressToDiv {
	margin-left: 6px;
	grid-column: 1;
	color: #eee;
}
#composeAddressBox {
	grid-column: 2;
	border: none;
	outline: none;
	border-radius: 5px;
	background: var(--text-box-gradient);
	color: white;
	font-size: 16px;
	padding: 0px 4px
}
#composeShowingAttachmentButton {
	grid-column: 3;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: transparent;
	box-shadow: 0px 0px 6px black;
	transition: all linear 0.1s;
}
#composeShowingAttachmentButton:hover {
	background-color: #222;
	transition: all linear 0.1s;
}
#composeSendBox {
	margin: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	width: calc(100% - (2 * 10px));
	height: calc(46vh - 40px - 40px);
	resize: none;
	grid-row: 3;
	color: white;
	padding: 4px;
	background-color: rgba(20, 20, 20, 0.7);
	font-size: 16px
}
#composeShowButton, #notificationbutton {
	background-color: #444;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 6px 0px 0px 0px;
	margin-top: -5px;
	height: 24px;
}
#composeShowButton {
	width: 60px;
}
#notificationbutton {
	width: 90px;
	padding-left: 8px
}
#composeShowButton p, #notificationbutton p {
	padding: 0;
	margin: 0 0 0 0;
	font-size: 14px;
	font-weight: 500;
}
#camerarollbutton {
	background-color: gray;
	border-radius: 5px;
	grid-column: 1;
	grid-row: 1;
	width: var(--attachments-button-size);
	height: var(--send-box-size);
	margin-top: calc((var(--messages-send-height) - var(--send-box-size)) / 2);
	outline: none;
	border: none;
}
#cameraroll {
	background-color: #111;
	border: 2px black;
	height: 80vh;
	max-height: 80vh;
	width: var(--camera-roll-width);
	max-width: var(--camera-roll-width);
	margin: auto;
	margin-top: 10vh;
	border-radius: 8px;
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr;
}
#camerarollTitle {
	background-color: rgba(100, 100, 100, 0.2);
	color: #ddd;
	border-radius: 8px 8px 0px 0px;
	padding: 5px;
	display: grid;
	grid-template-columns: 14% 1fr 14%;
	grid-row: 1;
}
#camerarollContent {
	overflow: auto;
	max-width: 100%;
}
.photo {
	min-width: calc(var(--camera-roll-width) * 0.2);
	max-width: calc(var(--camera-roll-width) * 0.2);
	min-height: calc(var(--camera-roll-width) * 0.2);
	max-height: calc(var(--camera-roll-width) * 0.2);	
	overflow: hidden;
}
.photo img {
	margin: 5px;
	object-fit: cover;
	object-position: center center;
	max-width: calc(var(--camera-roll-width) * 0.2 - 10px);
	min-width: calc(var(--camera-roll-width) * 0.2 - 10px);
	max-height: calc(var(--camera-roll-width) * 0.2 - 10px);
	min-height: calc(var(--camera-roll-width) * 0.2 - 10px);
	border-radius: 4px;
}
.photo.selected-photo img {
	filter: opacity(0.5);
	box-shadow: 0 0 6px aliceblue;
}
#morephotosbutton {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 28px;
}