:root {
	--messages-title-height: 64px;
	--messages-send-height: 36px;
	--camera-roll-width: 70vw;
	--font-color: #dae3f0;
	--main-font: Calibri, sans-serif, Verdana, Courier;
	--chats-border: #222;
	--chats-width: 30vw;
	--chats-button-height: 70px;
	--send-button-size: calc(var(--send-box-size) - 4px);
	--send-box-size:  calc(var(--messages-send-height) - 8px);
	--attachments-button-size: 46px;
	--top-button-gradient: linear-gradient(to bottom right, #bbb, #999);
	--top-hover-gradient: linear-gradient(to bottom right, #aaa, #888);
	--text-box-gradient: linear-gradient(to bottom right, #111, #222);
	--light-button-gradient: linear-gradient(to bottom right, #c8c8c8, #d9d9d9);

	--body-background: #000;
	--main-background: #111;
	--lighter-background: #222;
	--light-button-background: #444;
	--grayblue-background: #1a191b;
	--selected-background: #252525;
}
* {
	font-family: var(--main-font);
	color: var(--font-color);
}
body, html {
	background-color: var(--body-background);
	height: calc(100vh - 20px);
}
html {
	padding: 0px;
}
.everything {
	display: grid;
	grid-template-columns: var(--chats-width) 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'conversations messages';
	grid-column-gap: 5px;
	height: calc(100vh - 20px);
}
p, h2, a, button {
	font-family: var(--main-font);
	text-decoration: none;
	font-weight: 300;
}
:focus {
	outline: none !important;
}
p {
	font-size: 20px;
}
::-webkit-scrollbar {
	display: none;
}
.messages {
	border: 1px solid var(--chats-border);
	grid-area: messages;
	display: grid;
	grid-template-rows: var(--messages-title-height) auto min-content;
	grid-template-columns: 1fr;
	width: 100%;
	max-height: 100%;
	background-color: var(--main-background);
	overflow-x: hidden;
	border-radius: 5px;
	scrollbar-width: none;
}
.messages .title {
	grid-row: 1;
	grid-column: 1;
	z-index: 3;
	background-color: var(--grayblue-background);
	border-bottom: 1px solid var(--light-button-background);
}
.title-content {
	display: grid;
	margin: auto;
	width: max-content;
	grid-gap: 10px;
	transform: translateY(calc(var(--messages-title-height) / 8));
	white-space: nowrap;
	padding-left: 20px;
	max-width: calc(100vw - var(--chats-width) - 40px);
}
.textbox {
	display: grid;
	grid-template-columns: calc(var(--attachments-button-size) + 10px) calc(var(--attachments-button-size) + 10px) 1fr var(--send-button-size);
	grid-template-rows: 1fr;
	padding: 5px 5px;
	max-width: 100%;
	resize: vertical;
	margin: 0;
}
@supports (backdrop-filter: blur(50px)) or (-webkit-backdrop-filter: blur(50px)) {
	.messages .title, .textbox,
	.compose, #cameraroll {
		backdrop-filter: blur(50px);
		-webkit-backdrop-filter: blur(50px);
		background-color: transparent !important;
	}
}
.title p {
	font-size: 30px;
	grid-column: 2;
	grid-row: 1;
	margin: auto;
	padding: 0;
	text-overflow: ellipsis;
	overflow-x: hidden;
	max-width: 100%;
}
.title img {
	max-height: calc(var(--messages-title-height) * 0.72);
	grid-column: 1;
	grid-row: 1;
	border-radius: 100%;
}
.messages .text-content {
	grid-row: 1/3;
	grid-column: 1;
	overflow-x: hidden;
	padding-top: var(--messages-title-height);
	display: flex;
	flex-direction: column;
	scrollbar-width: none;
}
.centered {
	margin: auto;
	margin-top: 30vh;
	text-align: center;
	color: #bbb;
	font-size: 30px;
	max-width: 30vw;
	text-shadow: -4px 4px black;
}
.chats {
	border: 1px solid var(--chats-border);
	border-radius: 5px;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 36px 1fr;
}
.chats-title {
	grid-column: 1;
	grid-row: 1;
	padding: 10px 0px 0px 10px;
	vertical-align: bottom;
	display: grid;
	grid-template-columns: 1fr max-content;
}
#battery.low i {
	color: red;
}
#battery.risky i {
	color: gold;
}
#battery.fullEnough i {
	color: limegreen;
}
#stats {
	padding-right: 10px;
}
#wifi {
	color: dodgerblue;
}
.chats-title h1 {
	grid-column: 1;
	grid-row: 1;
	margin-top: 6px;
	font-weight: 300;
}
.chats-search {
	grid-column: 1;
	grid-row: 2;
	padding: 10px;
	border-top: 1px solid var(--chats-border);
	border-bottom: 1px solid var(--chats-border);
	display: flex;
}
.chats-list {
	grid-row: 3;
	grid-column: 1;
	overflow: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}
.chats button.unpinned,
#morechatsbutton {
	border: none;
	border-top: 1px solid var(--chats-border);
	border-bottom: 1px solid var(--chats-border);
	background-color: var(--main-background);
	display: flex;
	width: var(--chats-width);
	transition: all linear 0.1s;
	align-items: center;
	height: var(--chats-button-height);
}
.chats button.unpinned img {
	max-height: calc(var(--chats-button-height) * 0.76);
	max-width: calc(var(--chats-button-height) * 0.76);
	border-radius: 100%;
}
.pinRow {
	display: flex;
	flex-flow: row;
	padding: 6px 0;
}
.innerRow {
	margin: auto;
}
.chats button.pinned {
	background-color: transparent;
	border: none;
	padding: 5px min(12px, 0.5vw);
	margin: 0px 0.7vw;
	border-radius: 8px;
	max-width: calc(var(--chats-width) * 0.25);
	width: min-content;
}
.chats button.pinned img {
	max-height: calc(var(--chats-button-height)*1.4);
	border-radius: 100%;
	margin-bottom: 10px;
	height: calc(var(--chats-width) * 0.20);
}
.chats button.pinned .chat-top {
	display: flex;
	justify-content: center;
}
.chats button.pinned .chat-text {
	position: fixed;
	background-color: #7776;
	color: white;
	padding: 4px;
	backdrop-filter: blur(30px);
	border-radius: 8px;
	width: max-content;
	vertical-align: middle;
	max-width: calc(var(--chats-width) * 0.2);
	margin: 0;
}
.pinned .chat-name {
	font-size: calc(8px + 0.5vw);
	margin: auto;
	padding: 0;
	width: max-content;
}
.chat-nonpic {
	padding-left: 14px;
	width: calc(var(--chats-width) - (var(--chats-button-height) * 1.1)); /* This doesn't make any sense but it seems to work */
}
.chat-toprow {
	display: flex;
}
.chat-name {
	font-size: 16px;
	line-height: 18px;
	max-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
	font-weight: 500;
	margin-right: auto;
	margin-bottom: 10px;
	white-space: nowrap;
}
.chat-text {
	color: #ddd;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: start;
	max-height: calc(var(--chats-button-height) - 45px);
	white-space: nowrap;
}
.chat-date {
	padding-right: 6px;
	text-align: right;
	min-width: max-content;
	margin-left: 5px;
}
#morechatsbutton {
	display: flex;
	padding: auto;
	text-align: center;
}
#morechatsbutton p {
	color: dodgerblue;
	margin: auto;
}
.unread img {
	box-shadow: 0 0 10px dodgerblue;
}
.text-content p img {
	max-width: 100%;
	border-radius: 10px;
	padding-bottom: 5px;
}
.chats p {
	transition: all linear 0.1s;
}
.chats button:hover {
	background-color: var(--lighter-background);
	transition: all linear 0.1s;
}
.chats button:hover p {
	color: rgb(78, 150, 223) !important;
	transition: all linear 0.1s;
}
.selected {
	background-color: var(--selected-background) !important;
}
.selected div {
	color: rgb(115, 170, 226);
}
.text {
	font-family: var(--main-font);
	width: max-content;
	max-width: 40vw;
	padding: 7px 10px 4px 8px;
	margin: 0px 10px 20px 10px;
	font-weight: 300;
	font-size: 18px;
	word-break: break-word;
}
.text + .text {
	margin-top: -12px;
}
.text .subject {
	font-weight: 500;
}
.text span {
	white-space: pre-wrap;
}
.is_from_them a {
	color: dodgerblue;
}
.is_from_me a {
	color: lightblue;
}
.sender {
	margin-left: 14px;
	margin-bottom: -14px;
}
.sender p {
	font-size: 14px;
	font-weight: lighter;
}
.is_from_me {
	float: right;
	position: relative;
	border-radius: 10px 10px 2px 10px;
	align-self: flex-end;
}
.is_from_them {
	float: left;
	background-color: rgb(58, 58, 60);
	position: relative;
	border-radius: 10px 10px 10px 2px;
	align-self: flex-start;
}
.is_from_me + .is_from_them,
.is_from_them + .is_from_me {
	margin-top: -6px;
}
.is_from_me.iMessage {
	background-image: linear-gradient(to right, rgb(49, 100, 240), rgb(19, 75, 218));
}
.is_from_me.SMS {
	background-image: linear-gradient(to right, rgb(71, 194, 90), rgb(41, 194, 63));
}
.time-display {
	text-align: center;
}
#moretextsbutton {
	border: 1px solid black;
	border-radius: 20px;
	background-color: cornflowerblue;
	align-self: center;
	margin: 20px 0;
	min-height: 46px;
	box-shadow: 0px 0px 10px #222;
	transition: linear 0.2s;
}
#moretextsbutton p {
	margin: 10px 0
}
#moretextsbutton:hover {
	box-shadow: none;
	transition: linear 0.2s;
}
#sendbutton {
	grid-column: 4;
	grid-row: 1;
	width: var(--send-button-size);
	height: var(--send-button-size);
	background-color: rgb(0, 122, 255);
	outline: none;
	border: none;
	border-radius: calc(var(--send-button-size) / 2);
	padding: 5px;
	margin-left: -2px;
	z-index: 1;
	margin-top: auto;
	margin-bottom: auto;
}
#sendbox, .subjectSubject {
	outline: none;
	resize: none;
	border: none;
	background-color: var(--selected-background);
	font-size: calc(var(--send-box-size) - 8px);
	height: var(--send-box-size);
	padding: 3px calc(var(--send-button-size) + 10px) 0 10px;
}
#sendbox.input {
	grid-column: 3/5;
	grid-row: 1;
	border-radius: calc(var(--send-box-size) / 2);
	margin: auto 0;
}
#sendbox.subjectInput {
	border-radius: 0 0 calc(var(--send-box-size) / 2) calc(var(--send-box-size) / 2);
	padding: 0 calc(var(--send-button-size) + 10px) 0 10px;
}
.subjectSubject {
	border-radius: calc(var(--send-box-size) / 2) calc(var(--send-box-size) / 2) 0 0;
	font-weight: bold;
}
.subjectTextarea {
	display: flex;
	flex-flow: column;
	grid-column: 3/5;
	grid-row: 1;
	border-radius: calc(var(--send-box-size) / 2);
}
#attachmentbutton {
	display: none;
}
#unhiddenbutton {
	border-radius: 5px;
	background-color: grey;
	width: var(--attachments-button-size);
	height: var(--send-box-size);
	grid-column: 2;
	grid-row: 1;
	outline: none;
	border: none;
	margin: auto 0;
}
.popup, #camerarollpopup {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	overflow: auto;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.compose {
	background-color: var(--main-background);
	border-radius: 10px;
	height: 46vh;
	max-width: 60vw;
	display: grid;
	grid-template-rows: 40px 40px 1fr;
	grid-template-columns: 1fr;
	margin: auto;
	margin-top: 20vh;
}
.composeTitleBoxDiv {
	background-color: rgba(100, 100, 100, 0.2);
	color: #ddd;
	border-radius: 8px 8px 0px 0px;
	padding: 5px;
	display: grid;
	grid-template-columns: 14% 1fr 14%;
	grid-row: 1;
}
#composeHideButton, #camerarollHideButton {
	grid-column: 1;
	background-color: rgba(50, 50, 50, 1);
}
#composeTitleBoxTitle, #camerarollTitleBoxTitle {
	grid-column: 2;
	text-align: center;
}
#composeSendButton, #camerarollSelectButton {
	grid-column: 3;
	background-color: rgba(80, 110, 220, 1)
}
#composeHideButton, #composeSendButton, 
#camerarollHideButton, #camerarollSelectButton {
	border: none;
	outline: none;
	border-radius: 5px;
	transition: all linear 0.1s;
	font-size: 15px;
	margin: 0px 20px;
}
#composeHideButton:hover, #composeSendButton:hover,
#camerarollHideButton:hover, #camerarollSelectButton:hover {
	box-shadow: none;
	transition: all linear 0.1s;
}
#composeAttachmentButton {
	display: none;
}
.composeAddressBoxDiv {
	display: grid;
	grid-template-columns: 30px 1fr 10%;
	grid-gap: 10px;
	padding: 12px 8px 4px 8px;
	grid-row: 2;
}
.composeAddressToDiv {
	margin-left: 6px;
	grid-column: 1;
}
#composeAddressBox {
	grid-column: 2;
	border: none;
	outline: none;
	border-radius: 5px;
	background: var(--text-box-gradient);
	font-size: 16px;
	padding: 0px 4px
}
#composeShowingAttachmentButton {
	grid-column: 3;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: transparent;
	box-shadow: 0px 0px 6px black;
	transition: all linear 0.1s;
}
#composeShowingAttachmentButton:hover {
	background-color: var(--lighter-background);
	transition: all linear 0.1s;
}
#composeSendBox {
	margin: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	width: calc(100% - (2 * 10px));
	height: calc(46vh - 90px);
	resize: none;
	grid-row: 3;
	padding: 4px;
	background-color: rgba(20, 20, 20, 0.7);
	font-size: 16px
}
#composeShowButton, #notificationbutton {
	background-color: var(--light-button-background);
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 6px 0px 0px 0px;
	margin-top: -5px;
	height: 24px;
}
#composeShowButton {
	width: max-content;
	padding: 0px 8px 0px 8px;
}
#notificationbutton {
	width: max-content;
	padding: 0px 8px 0px 8px;
	margin-left: auto;
	margin-right: 10px;
}
#composeShowButton p, #notificationbutton p {
	margin: 0 0 0 0;
	font-size: 14px;
}
#camerarollbutton {
	background-color: gray;
	border-radius: 5px;
	grid-column: 1;
	grid-row: 1;
	width: var(--attachments-button-size);
	height: var(--send-box-size);
	outline: none;
	border: none;
	margin: auto 0;
}
#cameraroll {
	background-color: var(--main-background);
	border: 2px black;
	height: 80vh;
	max-height: 80vh;
	width: var(--camera-roll-width);
	max-width: var(--camera-roll-width);
	margin: auto;
	margin-top: 10vh;
	border-radius: 8px;
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-template-columns: 1fr;
}
#camerarollTitle {
	background-color: rgba(100, 100, 100, 0.2);
	color: #ddd;
	border-radius: 8px 8px 0px 0px;
	padding: 5px;
	display: grid;
	grid-template-columns: 14% 1fr 14%;
	grid-row: 1;
}
#camerarollContent {
	overflow: auto;
	max-width: 100%;
	scrollbar-width: none;
}
.photo {
	min-width: calc(var(--camera-roll-width) * 0.2);
	max-width: calc(var(--camera-roll-width) * 0.2);
	min-height: calc(var(--camera-roll-width) * 0.2);
	max-height: calc(var(--camera-roll-width) * 0.2);	
	overflow: hidden;
}
.photo img {
	margin: 5px;
	object-fit: cover;
	object-position: center center;
	max-width: calc(var(--camera-roll-width) * 0.2 - 10px);
	min-width: calc(var(--camera-roll-width) * 0.2 - 10px);
	max-height: calc(var(--camera-roll-width) * 0.2 - 10px);
	min-height: calc(var(--camera-roll-width) * 0.2 - 10px);
	border-radius: 4px;
}
.photo.selected-photo img {
	filter: opacity(0.5);
	box-shadow: 0 0 6px aliceblue;
}
#morephotosbutton {
	background-color: transparent;
	border: none;
	font-size: 28px;
}
.favorite-heart {
	position: relative;
	opacity: 0.8;
	margin-left: -40px;
	padding-right: 25px;
	top: -20px;
}
.readreceipt {
	color: #a6a6a6;
	font-size: 14px;
	float: right;
	padding-right: 10px;
	align-self: flex-end;
	margin: -10px 0 10px 0;
}
.reaction {
	top: -5px;
	position: relative;
	padding: 3px 6px;
	z-index: 2;
	box-shadow: 0px 0px 6px #000;
}
.from_them .reaction {
	left: -16px;
	border-radius: 4px 4px 1px 4px;
	background-color: rgba(70, 140, 240, 0.7);
}
.text-area {
	width: max-content;
	margin-bottom: -10px;
	margin-top: -6px;
}
.text-area.from_me {
	align-self: flex-end;
}
.text-area.from_them {
	align-self: flex-start;
}
.from_me .reaction {
	right: -16px;
	border-radius: 4px 4px 4px 1px;
	background-color: rgba(71, 71, 80, 0.7);
}
.noPadding {
	padding: 0 !important;
}
.richLink img {
	border-radius: 10px 10px 0 0 !important;
	width: 100%;
}
.richLinkUnder {
	display: flex;
	padding: 8px;
	justify-content: space-between;
	align-items: center;
}
.richLinkTitle {
	font-size: 22px;
}
.richLinkSubtitle {
	padding: 5px;
	color: #ccc;
}
.richLinkNavigator {
	display: grid;
	grid-template-rows: 1fr max-content 1fr;
}
.richLinkSmall {
	display: flex;
}
.richLinkUnder.richLinkSmall img {
	height: max-content;
	width: max-content;
	padding: 0;
	margin-right: 10px;
	max-height: 32px;
	max-width: 32px;
	border-radius: 0 !important;
}
.richLinkUnder.richLinkSmall .richLinkDescription {
	margin: auto 0;
}
.richLinkIcon {
	float: right;
	margin-right: 20px;
}
.dot {
	color: #888;
}
.dot.flashing {
	color: #eee;
}
